

*{
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.hero{
  margin-top: 5em;
  width:57.0625em;
  height:17.923125em;
}
.frame{
  border-radius:6.25rem;
  padding-Inline:30px;
  padding-block:15px;
  background-Color:#545454;
  color:white;
  font-Family:"Montserrat", sans-serif;
  font-Weight:700;
  font-Size:1.563rem;
}
.p1{
  line-Height:1em;
  text-Align:center;
  font-Weight:bolder;
  font-Size:4.845rem;
  color:#4F4F4F;

}
#root,.hero,form,body{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
span {
  color:black;
  font-Weight:700;
}
.jj{
  position:relative;
  left:2.5em;
  top:-2.3em;
  width: 20px;
  height: 18px
}
  .p2{
    margin-Top:2em;
    text-Align:center;
    color:#4B4A4A;
    width:41.839375em;
    height:3.75em
  }
}
#root{
  padding-block-start: 5em;
  /* margin-top: 50px; */
  margin-bottom: 50px;
  margin-bottom: 50px;
};
body{
  /* padding-top: 50px; */
  padding-bottom: 50px;
  width: 100vw;
  height: 100vh;
}
input{
  width:31.6875em;
  height: 4em;
  border-radius: 30em;
  padding: 20px, 30px, 20px, 0px;
  padding-left: 60px;
  border: 1px solid black;
  display: block;
}
button{
  background-color: #3F3F3F;
  padding:14px, 59px, 14px, 59px;
  width: 214px;
  height: 45px;
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: bolder;
  margin-top: 2em;
}
button:hover{
  background-color:#6e6b6b;
}
button:active{
  background-color: #3f3f3f;
}
@media (max-width: 934px){
  p.p1, span{
   font-size: 5rem;
   margin-block-start: -1.5em;
  }
}
@media(max-width:819px){
  p.p1,span {
    font-weight: bolder;
    font-size: 4rem;
  }
}
@media(max-width: 649px){
  p.p2{
    font-size: .9rem;
  }
}
@media(max-width: 638px){
    p.p1, span{
      font-weight: bolder;
      font-size: 3rem
    }
    p.p2{
      font-size: .8rem;
    }
}
@media(max-width:535px){
     p.p2{
      font-size: .7rem;
     }

}
@media(max-width:505px){
  p.p1,span{
    font-size: 2.7rem;
  }
  input{
    width: 280px;
    /* height: 30px; */
  }
}
